body {
    background: url("../image/sample-pattern.png");
    margin: 0;
}

nav {
    height: 70px;
    background: white;
    display: flex;
    align-items: center;
    padding: 0 100px;
    justify-content: space-between;
}

.menu {
    list-style: none;
    display: flex;
    padding: 0;
}

.menu li {
    margin: 10px;
}

.menu a {
    text-decoration: none;
    color: cornflowerblue;
}

.logo {
    width: 150px;
}

.post {
    margin-top: 30px;
    height: auto;
    font-family: serif;
    margin-bottom: 100px;
}

.title {
    color: rgb(75, 75, 75);
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.card {
    background: white;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    margin-bottom: 2px;
}

.card-title {
    color: cornflowerblue;
}

.card-body {
    padding: 35px 25px;
}

footer {
    background: #000;
}

.text-footer {
    color: white;
    font-size: 15px;
    text-align: center;
    padding: 15px;
}